{
	email mjr@undead.one

	acme_dns porkbun {
		api_key {$PORKBUN_API_KEY}
		api_secret_key {$PORKBUN_API_SECRET_KEY}
	}
}

*.undead.one {
	tls {
		dns porkbun {
			api_key {$PORKBUN_API_KEY}
			api_secret_key {$PORKBUN_API_SECRET_KEY}
		}
		resolvers 1.1.1.1
	}

	@pihole host pihole.undead.one
	handle @pihole {
		reverse_proxy http://host.docker.internal:8081
	}

	@karakeep host karakeep.undead.one
	handle @karakeep {
		reverse_proxy http://host.docker.internal:3001
	}

	@jellyfin host jellyfin.undead.one
	handle @jellyfin {
		reverse_proxy http://host.docker.internal:8096
	}

	@sabnzbd host sabnzbd.undead.one
	handle @sabnzbd {
		reverse_proxy http://host.docker.internal:8083
	}

	@prowlarr host prowlarr.undead.one
	handle @prowlarr {
		reverse_proxy http://host.docker.internal:9696
	}

	@radarr host radarr.undead.one
	handle @radarr {
		reverse_proxy http://host.docker.internal:7878
	}

	@sonarr host sonarr.undead.one
	handle @sonarr {
		reverse_proxy http://host.docker.internal:8989
	}
}
