{
	email mjr@undead.one

	acme_dns porkbun {
		api_key {$PORKBUN_API_KEY}
		api_secret_key {$PORKBUN_API_SECRET_KEY}
	}
}

*.undead.one {
	tls {
		dns porkbun {
			api_key {$PORKBUN_API_KEY}
			api_secret_key {$PORKBUN_API_SECRET_KEY}
		}
		resolvers 1.1.1.1
	}

	@pihole host pihole.undead.one
	handle @pihole {
		@pihole_root path /
		redir @pihole_root /admin/ 308
		reverse_proxy http://host.docker.internal:8081
	}

	@truenas host truenas.undead.one
	handle @truenas {
		reverse_proxy http://10.12.1.99:8080 {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	@dockge host dockge.undead.one
	handle @dockge {
		reverse_proxy http://10.12.1.99:5001
	}

	@homepage host homepage.undead.one
	handle @homepage {
		reverse_proxy http://host.docker.internal:3002 {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	@grafana host grafana.undead.one
	handle @grafana {
		reverse_proxy http://host.docker.internal:3000
	}

	@prometheus host prometheus.undead.one
	handle @prometheus {
		reverse_proxy http://host.docker.internal:9090
	}

	@omada host omada.undead.one
	handle @omada {
		reverse_proxy https://host.docker.internal:8043 {
			transport http {
				tls_insecure_skip_verify
			}
			header_up Host {host}:8043
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
			header_down Location https://omada.undead.one:8043/ https://omada.undead.one/
		}
	}

	@karakeep host karakeep.undead.one
	handle @karakeep {
		reverse_proxy http://host.docker.internal:3001
	}

	@jellyfin host jellyfin.undead.one
	handle @jellyfin {
		reverse_proxy http://host.docker.internal:8096
	}

	@sabnzbd host sabnzbd.undead.one
	handle @sabnzbd {
		reverse_proxy http://host.docker.internal:8083
	}

	@prowlarr host prowlarr.undead.one
	handle @prowlarr {
		reverse_proxy http://host.docker.internal:9696
	}

	@radarr host radarr.undead.one
	handle @radarr {
		reverse_proxy http://host.docker.internal:7878
	}

	@sonarr host sonarr.undead.one
	handle @sonarr {
		reverse_proxy http://host.docker.internal:8989
	}

	@bookstack host bookstack.undead.one
	handle @bookstack {
		reverse_proxy http://10.12.1.99:6875
	}

	@paperless host paperless.undead.one
	handle @paperless {
		reverse_proxy http://10.12.1.99:8001
	}

	@qb host qb.undead.one
	handle @qb {
		reverse_proxy http://10.12.1.99:8082
	}

	@backrest host backrest.undead.one
	handle @backrest {
		reverse_proxy http://10.12.1.99:9898
	}

	@speedtest host speedtest.undead.one
	handle @speedtest {
		reverse_proxy http://10.12.1.99:6580
	}

	@docmost host docmost.undead.one
	handle @docmost {
		reverse_proxy http://10.12.1.99:3000
	}

	@mealie host mealie.undead.one
	handle @mealie {
		reverse_proxy http://10.12.1.99:9925
	}

	@cadvisor host cadvisor.undead.one
	handle @cadvisor {
		reverse_proxy http://host.docker.internal:8080
	}
}
